*{
    list-style: none;
    color: white;
    //background-color: #4cd137;
    box-sizing: border-box;

}

nav{
    height: 15vh;
    width: 100%;
    background-color: #192a56;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;

    .logo{
        width: 20%;
        transition: font-size .5s ease;
    }

    .nav-link{
        position: absolute;
        width: 100%;
        height: 85vh;
        top: 15vh ;
        left: -100%;
        background-color: #273c75;
        margin: 0;
        transition: left 250ms linear;
    }
    
    .toggle{
        left: 0;
    }
    

    .icon{
        color: white;
        font-size: 2rem;
    }

}

@media( min-width:600px ){
    .logo{
       font-size: 2rem;
       font-weight: bolder; 
    }
    .icon{
        display: none;
    }

    nav .nav-link{
        position: static;
        width: 80%;
        height: inherit;
        background-color: transparent;
        display: flex;     
        justify-content: flex-end;
        align-items: center;
        .nav-item{
            margin: 0 10px;
            border: 1px solid white;
            padding: .3rem .7rem;
            border-radius: 5px;
        }
    }
}
